<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
    <link href="{% static 'vendor/css/registration.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div class="main-w3layouts wrapper">
    <h1>New password</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            {% if validlink %}
                <p>Пожалуйста, введите новый пароль дважды:</p>
                <form class="login-form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn">Сохранить</button>
                </form>
            {% else %}
                <p>Ссылка для сброса пароля оказалась недействительной, возможно, потому что она уже использовалась.
                    Пожалуйста, запросите новый сброс пароля.</p>
            {% endif %}
        </div>
    </div>

    <div class="colorlibcopy-agile"></div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>
